Repository vivait/twig-safe-date, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vivait/developers, @vivait/admins, @vivait/ops

.github/CODEOWNERS:

* @vivait/developers
/.github/ @vivait/admins
/Makefile @vivait/ops
composer.json @vivait/ops

Build tweaks
  .github/workflows/static_analysis.yml
Owners: @vivait/admins

[ADHOC-3500] User Deprecated: Since twig/twig 3.9: Using the internal "twig_date_converter" function is deprecated.
  .github/workflows/unit_tests.yml
  composer.json
  src/TwigSafeDateExtension.php
Owners: @vivait/admins, @vivait/ops, @vivait/developers

Update phpunit configuration
  phpunit.xml.dist
Owners: @vivait/developers

[ADHOC-3871] Update `vivait/twig-safe-date` to handle null-like values
  src/TwigSafeDateExtension.php
  tests/Integration/TwigSafeDateExtensionTest.php
Owners: @vivait/developers

Adds dependabot update
  .github/dependabot.yml
Owners: @vivait/admins

Update requirements
  README.md
Owners: @vivait/developers

Bump github workflow versions
  .github/workflows/static_analysis.yml
Owners: @vivait/admins

Manual dep install
  .github/workflows/static_analysis.yml
  .github/workflows/unit_tests.yml
Owners: @vivait/admins

Bump php version
  .github/workflows/static_analysis.yml
Owners: @vivait/admins
